[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=MagicPhotos
Exec=/usr/bin/single-instance /opt/MagicPhotos/bin/MagicPhotos
Icon=/usr/share/themes/base/meegotouch/icons/magicphotos.svg
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
